body{
  font-family: 'Montserrat';
  background-color: #ffeeee;
}

#header{
  text-align: left;
}

.container-fluid{
  padding: 1% 6%;
}

.left-part{
  padding-top: 4%;
}

.right-part {
    border: 10px solid #ffeeee;
}

.navbar{
  padding: 0 0 5% 0;
}


.navbar-brand{
 font-family: 'Marck Script', cursive;
 font-size: 3.2vw;
}

.nav-item{
  padding: 0 1.4em;
  font-size: 1.4vw;
  font-weight: bold;
}

.left-part h1{
  font-weight: 700;
}

.greeting{
  font-size: 4vw;
}

.name-line{
  font-size: 3vw;
}

.profession{
  font-size: 2.5vw;
}

.name{
  color: #F50057;
}

.btn-margin{
  margin: 5% 3% 5% 0;
  display: block;
}

.project-btn{
  font-size: 1.25vw;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
  color:#903749;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #212529;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

@media (max-width:767px) {

  #header{
    text-align: center;
  }

  .project-btn{
    margin: 5% auto;
  }

  .right-part{
    padding-top: 10%;
  }

  .navbar-brand{
    font-size: 6.4vw;
  }

  .nav-item{
    font-size: 2.8vw;
  }

  .greeting{
    font-size: 8vw;
  }

  .name-line{
    font-size: 6vw;
  }

  .profession{
   font-size: 5vw;
  }

 .project-btn{
   font-size: 3vw;
 }


}
